.container-1 {
    background-color: #9eb1b1;
    display: flex;
}

.container-1 div {
    padding: 10px;
    margin: 5px;
    border: 2px solid #fff;
}

.container {
    background-color: #9eb1b1;
    display: flex;
    flex-wrap: wrap;
}
.container div {
    padding: 10px;
    margin: 5px;
    border: 2px solid #fff;
}
.box {
    flex-basis: 20%;
}

.box-1 {
    
}


.box-2 {

}

.box-3 {
}